<%- include("partials/header") -%>

<div class="container-fluid" style="height: 70vh">
      <div class="card text-white" style="margin: 4rem; border: none; height: 70vh">
            <div class="card-body" style="overflow-y: scroll">
                  <% posts.forEach(function(post) { %>
                  <h5 class="card-title" style="color: black"><%= post.title %></h5>
                  <p class="card-text" style="color: black">
                        <%= _.truncate(post.content, { "length": 100 }) %>
                  </p>
                  <div class="d-flex justify-content-between w-100">
                        <a href="/posts/<%= post._id %>" class="btn btn-primary">Read More</a>

                        <!-- Delete button form -->
                        <form
                              action="/posts/<%= post._id %>?_method=DELETE"
                              method="POST"
                              style="display: inline"
                              onsubmit="handleDelete('<%= post._id %>')"
                        >
                              <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-trash-o" style="color: rgb(255, 255, 255)"></i>
                              </button>
                        </form>
                  </div>

                  <br /><br />
                  <% }); %>
            </div>
      </div>
</div>

<%- include("partials/footer") -%>

<script>
      // Check if the response includes an error flag for permission denied
      const errorFlag = res.statusCode === 403 && res.locals.error === "Permission Denied";

      // Display an alert if there's a permission denied error
      if (errorFlag) {
            alert("Permission Denied: You must be an admin to delete posts.");
      }
</script>
